{% extends "layout.html" %}

{% block page_title %}
    Login
{% endblock %}

{% block content %}
    {% include "header/header.html" %}

    <nav>
        <a href="{{ url_for("index") }}">Home</a>
        {% include "header/search_bar.html" %}
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Login</h1>

    <form action="{{ url_for("login") }}" method="post">
        <p><label>Email:</label><br>
            <input type="email" placeholder="Enter Email" name="email" required></p>

        <p><label>Password:</label><br>
            <input type="password" placeholder="Enter Password" name="password" required></p>

        <button type="submit">Login</button>
    </form>
{% endblock %}