{% extends "layout.html" %}

{% block page_title %}
    Registration
{% endblock %}

{% block content %}
    {% include "header/header.html" %}

    <nav>
        <a href="{{ url_for("index") }}">Home</a>
        {% include "header/search_bar.html" %}
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>

    <form action="{{ url_for("registration") }}" method="post">
        <p><label>Email:</label><br>
            <input type="email" placeholder="Enter Email" name="email" required></p>

        <p><label>Password:</label><br>
            <input type="password" placeholder="Enter Password" name="password" required></p>

        <p><label>Repeat Password:</label><br>
            <input type="password" placeholder="Repeat Password" name="password-repeat" required></p>

        <button type="submit">Register</button>
    </form>
{% endblock %}