{% extends "layout.html" %}

{% block page_title %}
    Tags list
{% endblock %}

{% block page_style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/index.css") }}">
{% endblock %}

{% block content %}
    {% include "header/header.html" %}


    <nav>
        <a href="{{ url_for("index") }}">Home</a>
        {% include "header/search_bar.html" %}
    </nav>

    <table>
        <tr>
            {% for head in header %}
                <th>{{ head.title().replace("_", " ") }}</th>
            {% endfor %}
        </tr>
        {% for tags in tag %}
            <tr>
                {% for key, value in tags.items() %}
                    <td>{{ value }}</td>


                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}
