<h1>Your Question Comments
    <a href="#" onclick="toggleProfileQuestionComments()" title="Show Question Comments"><i id="comments_link"
                                                                                            class="fa-solid fa-comments"></i></a>
</h1>
<div id="hide_profile_question_comments">

    <table>
        <tr>
            <th class="user_id">Id</th>
            <th class="user_id">Message</th>
        </tr>

        {% for item in question_comments %}
            <tr>
                {% for key, value in item.items() %}
                    {% if key == "question_id" %}
                        <td>
                            <a class="user_page_link" href="{{ url_for("display", id=item["question_id"]) }}">{{ value }}</a>
                        </td>
                    {% else %}
                        <td class="user_id">{{ value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}

    </table>
</div>
<h1>Your Answer Comments
    <a href="#" onclick="toggleProfileAnswerComments()" title="Show Answer Comments"><i id="comments_link"
                                                                                        class="fa-solid fa-comments"></i></a></h1>
    <div id="hide_profile_answer_comments">
<table>
    <tr>

        <th class="user_id">Id</th>
        <th class="user_id">Message</th>
    </tr>

    {% for item in answer_comments %}
        <tr>
            {% for key, value in item.items() %}
                {% if key == "question_id" %}
                    <td>
                        <a class="user_page_link" href="{{ url_for("display", id=item["question_id"]) }}">{{ value }}</a>
                    </td>
                {% else %}
                    <td class="user_id">{{ value }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}

</table>
</div>